@charset "utf-8";
#big-banner {
  $height: 313px;
  height: $height;
  background: no-repeat center center;
  border-bottom: 1px solid grey;

  h1 {
    line-height: $height;
    margin: 0;
    font-size: 36px;
    color: #0072c6;
  }
}
