@charset "utf-8";
%icon {
  display: inline-block;
  background: url(../images/footer.png) no-repeat;
  margin-right: 25px;
}

.yx-icon-qq {
  @extend %icon;
  width: 26px;
  height: 26px;
  background-position: -40px -20px;
}

.yx-icon-wb {
  @extend %icon;
  width: 33px;
  height: 27px;
  background-position: -70px -20px;
}

.yx-icon-wx {
  @extend %icon;
  width: 32px;
  height: 26px;
  background-position: 0 -20px;
}

#yx-footer {
  background-color: #363636;

  &, & a {
    color: #808080;
  }

  .yx-footer-info {
    border-bottom: 1px solid #959595;
    padding: 70px 110px 25px;

    p {
      line-height: 1.6;
      margin-bottom: 0;
    }
  }

  .yx-footer-cr {
    padding: 15px 0;
  }
}
