@charset "utf-8";
.yx-index-banner {
  height: 600px;
  color: #fff;
  background-color: grey;
}

.yx-index-more {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  border-radius: 0;
  font-size: 14px;
  padding: 14px 69px;
}
