@charset "utf-8";

.broad, .pen {
  margin-right: 30px;
}

.btn-more {
  background-color: #0072c6;
  border-color: #0072c6;
  color: #fff;
  padding: 17px 31px;

  span {
    margin-left: 15px;
  }
}

#three-1, #three-3 {
  padding-top: 100px;
  padding-bottom: 80px;

  h2 {
    color: #0072c6;
    padding-bottom: 20px;
    margin-bottom: 0;
    border-bottom: 1px solid #0072c6;
  }

  .section-des {
    margin: 70px 0;
  }
}

#three-2 {
  position: relative;
  padding-top: 110px;
  padding-bottom: 180px;
  border-top: 1px solid #619bdc;
  border-bottom: 1px solid #619bdc;
  background: url("images/2-bg.jpg") no-repeat center center;

  h2 {
    margin-bottom: 40px;

    span {
      border-bottom: 1px solid #689fdc;
      padding: 0 30px 20px;
      color: #619bdc;
    }
  }

  p {
    text-indent: 2em;
  }

  .auncel {
    margin-bottom: 70px;
  }

  .go-top-btn {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    div {
      width: 122px;
      height: 52px;
      line-height: 52px;
      margin: 0 auto;
      background-color: #619bdc;
    }
  }
}
